Alcoa.Framework.Common.Presentation/Service References/GarService/GarService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://noaadc-psaweb01.noa.alcoa.com/Alcoa.GAR/GarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Alcoa.GAR" />
  <xs:element name="GetGarApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGarApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Alcoa.GAR" minOccurs="0" name="GetGarApplicationResult" nillable="true" type="q1:GarApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>